:root {
  --color-light-black: #333;
  --color-red: #ff3b30;
  --color-blue: #0a84ff;
  --shadow-light: 0 0 12px rgba(0, 0, 0, 0.2);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  width: 100%;
}

/* Header */
.Header {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.Header a {
  padding: 3px 8px;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #999;
  transition: all 250ms ease;
}

.Header a.active,
.Header a:hover {
  color: var(--color-light-black);
  background-color: rgba(0, 0, 0, 0.15);
}

.Header a i {
  margin-right: 3px;
}

/* Calendar */
.Calendar {
  margin: auto;
  max-width: 1000px;
  aspect-ratio: 1.5;
  padding: 20px;
}

.holyday {
  color: var(--color-red);
}

.Calendar .header {
  width: 100%;
  margin-bottom: 25px;
}

.Calendar .header .month-controls {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.Calendar .header .month-controls button {
  width: 50px;
  height: 50px;
  font-size: 1.4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #777;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: all 250ms ease;
}

.Calendar .header .month-controls button:hover {
  border-color: rgba(0, 0, 0, 0.2);
  color: var(--color-light-black);
  background-color: rgba(0, 0, 0, 0.1);
}

.Calendar .header .month-controls .current-date {
  font-size: 1.9rem;
  line-height: 50px;
}

.Calendar .header .month-labels {
  width: 100%;
  font-size: 1.33rem;
  font-weight: 500;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

.Calendar .date-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 6px;
}

.Calendar .date-grid .date-cell {
  padding: 6px;
  border-radius: 6px;
  background-color: #f3f3f3;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Calendar .date-grid .date-cell .amount-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Calendar .date-grid .date-cell .income-label {
  color: var(--color-blue);
}

.Calendar .date-grid .date-cell .expenditure-label {
  color: var(--color-red);
}

.Calendar .date-grid .date-cell.blur {
  opacity: 0.4;
}

/* TransactionAddButton */
.transaction-add-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  box-shadow: var(--shadow-light);
  font-size: 1.7rem;
  color: var(--color-light-black);
  background-color: #fff;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.transaction-add-button:hover {
  background-color: #f3f3f3;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 30px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

/* TransactionAddModal */
.transaction-add-modal {
  position: relative;
  display: flex;
  flex-direction: column;
}
/* font-family: 'Noto Sans KR', sans-serif; */

.transaction-add-modal .type-buttons {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.transaction-add-modal .type-buttons button {
  width: 120px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 0 5px;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  color: #bbb;
  background-color: #f1f1f1;
  cursor: pointer;
}

.transaction-add-modal .type-buttons button:active {
  transform: scale(0.96);
}

.transaction-add-modal .type-buttons .income.active {
  border-color: var(--color-blue);
  color: var(--color-blue);
  background-color: #fff;
}

.transaction-add-modal .type-buttons .expenditure.active {
  border-color: var(--color-red);
  color: var(--color-red);
  background-color: #fff;
}

.transaction-add-modal .transaction-form {
  display: flex;
  flex-direction: column;
}

.transaction-add-modal .transaction-form .form-input {
  margin-bottom: 10px;
}

.transaction-add-modal .transaction-form .form-input label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.transaction-add-modal .transaction-form .form-input input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1.3rem;
  font-family: "Noto Sans KR", sans-serif;
}

.transaction-add-modal .transaction-form .save-button {
  height: 50px;
  border: none;
  border-radius: 6px;
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  background-color: var(--color-blue);
  cursor: pointer;
}

.transaction-add-modal .close-modal-button {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
}

.transaction-add-modal.shaking {
  animation: shake 500ms;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
